@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lato&family=Montserrat:wght@300;400;500;700;800&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
}

nav.top-navbar{
    width: 100%;
    height: 4.375rem;
    background-color: #606060;
    padding: 11px 0 11px 97rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

nav.left-navbar{
    width: 6.688rem;
    height: 100%;
    background-color: #606060;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

ul li.navbar-logo{
    padding: 9px 12px 4.5rem;
}

ul li.navbar-itens a{
    color: #f2f2f2;
    align-items: center;
    display: flex;
}

.left-navbar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

ul li.navbar-subitens a{
    text-decoration: none;
    display: flex;
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

ul li.navbar-subitens a.funnel-text{
    padding: 0 2.1rem;
}

ul li.navbar-subitens a.entity-text{
    padding: 0 1.1rem;
}

ul li.navbar-subitens a.filters-text{
    padding: 0 1.8rem;
}

ul li.navbar-subitens a.users-text{
    padding: 0 1.35rem;
}
