@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lato&family=Montserrat:wght@300;400;500;700;800&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

header {
    width: 100%;
    height: 4.375rem;
    background: #606060;
    align-items: center;
}

.profile-picture {
    width: 100%;
    height: 4.375rem;;
    justify-content: flex-end;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.profile-picture-icon {
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    text-decoration:none;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 700;
    font-size: 12px; 
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

footer {
    display: flex;
    text-align: center;
    padding: 20px;
    background: #f2f2f2;
    width: 100%;
}

.footer-line img {
    display: flex;
    align-items: center;
}

.footer-text {
    border-top: 1px solid #A6A6A6;
    display: flex; 
    align-items: center; 
    width: 49.188rem;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}


.footer-text p{
    padding: 2px;
}

.bold-text {
    font-weight: bold;
}

.title-container {
    margin: 0 23px;
    margin-top: 30px;
    font-size: 2.5rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
}

.funnel-title {
    font-weight: 800;
    color: #0D132B;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.sub-search-container {
    display: flex;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;

}

.filter-container a{
    text-decoration: none;
    color: #0D132B;
    font-size: 14px;
    font-weight: 400;
}

.filter-container a img {
    width: 30px;
    height: 30px;
}

.search-container button{
    width: 9.125rem;
    height: 2.938rem;
    flex-shrink: 0;
    color: #0D132B;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-color: transparent;
    border-radius: 5px;
    background: #FBC600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.search-container button:hover {
    background-color: #daaa00fd ;
}

.search-input-container {
    align-items: center;
    width: 25.5rem;
    height: 3.5rem;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #A6B9B7;
    background: #fafafa;
    display: flex;
}

.search-input-container:hover{
    border: 2px solid #5AB4AB;
}

.search-input-container img{
    width: 17.5px;
    height: 17.5px;
    text-align: right;
}

.search-input-container input{
    padding: 30px;
    background-color: transparent;
    border: none;
    color: #f0f0f0;
    font-size: 20px;
    display: flex;
    width: 22.5rem;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--Azul-escuro, #0d132b);
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.search-input-container input:focus-visible{
    outline: none;
}

.results-container{
    margin: 0 23px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
}

#funnel {
    height: 100%;
    width: 100%;
}

.funnel-main-container {
    min-height: calc(100vh - 166px);
}

#full-page {
    display: flex;
    min-height: 100vh;
    height: 100%;
    background-color: #F2F2F2;
}

#first-funnel-modal {
    width: 505px;
    height: 245px;
    background-color: #fafafa;
    position: fixed;
    border: 1px solid #5B827E;
    left: 40%;
    top: 45%;
    border-radius: 5px;
    display: none;
}


.first-popup {
    height: calc(245px - 70px);
    display: flex;
}

.first-popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-popup-content p {
    padding: 0 20px 0 60px;
    font-weight: 500;
    font-size: 24px;
    color: #0D132B;
}

.first-close-popup {
    padding: 20px;
}

.first-popup-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-popup-yes-button{
    padding-right: 30px;
}

.yes-button {
    width: 153px;
    height: 29px;
    flex-shrink: 0;
    color: #0D132B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 1px solid #FBC600;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yes-button:hover {
    background-color: #bbbbbb48;
}

.no-button {
    width: 153px;
    height: 29px;
    flex-shrink: 0;
    color: #0D132B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-color: transparent;
    border-radius: 5px;
    background: #FBC600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-button:hover {
    background-color: #daaa00fd;
}

#funnel-modal {
    width: 505px;
    height: 245px;
    background-color: #fafafa;
    position: fixed;
    border: 1px solid #5B827E;
    left: 40%;
    top: 45%;
    border-radius: 5px;
    display: none;
}

.popup {
    display: flex;
}

.close-popup {
    padding: 20px;
}

.popup-content {
    height: calc(245px - 17px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content img{
    padding-left: 50px;
}

.popup-content p {
    padding-left: 20px;
    font-weight: 500;
    font-size: 24px;
    color: #0D132B;
}

#funnel-container {
    width: calc(100vw - 107px);
    background: #f2f2f2;
    padding-left: 20px;
}

#left-navbar {
    width: 6.688rem;
    background: #606060;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #F2F2F2;
}

.logo-icon {
    position: absolute;
    padding-top: 9px;
    padding-left: 12px;

}

#left-navbar a{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #f2f2f2;
    flex-direction: column;
}

#left-navbar a:hover {
    color: #ffffff;
    font-weight: bold;
}

#left-navbar a img {
    margin-bottom: 10.2px;
}

.home-icon {
    padding-top: 7.813rem;
}

.icon {
    padding-top: 3.313rem;
}

nav {
    display: flex;
    flex-direction: column;
    text-decoration:none;
    margin: 20px;
    font-size: 50px;
}

.funnel-table {
    background: #f2f2f2;
    padding-left: 10px;

}

.table {
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background: #f2f2f2;
}


table {
    text-align: left;
    border-collapse: collapse;
}

th {
    width: 79.563rem;
    background: #606060;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #F2F2F2;
    text-align: left;
    padding: 17px 17px;
}

tr {
    border: 1px solid #DADADA;
    background: #F8F8F8;
}

tbody tr:hover {
    border: 2px solid #A6B9B7;
    background-color: #ffffff;
    color: #5AB4AB; 

}

tbody tr:hover a{
    color: #5AB4AB;
}

td {
    padding: 15px;
    vertical-align: middle;
}

.table-entity {
    text-decoration: underline;
    color:#0D132B ;
}

.in-training button {
    width: 8rem;
    height: 2rem;
    flex-shrink: 0;
    color: #f2f2f2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-color: transparent;
    border-radius: 5px;
    background: #8089B5;
    cursor: pointer;
}

.in-training button:hover {
    background: #6a7196;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.lost button {
    width: 8rem;
    height: 2rem;
    flex-shrink: 0;
    color: #f2f2f2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-color: transparent;
    border-radius: 5px;
    background: #C93A3C;
    cursor: pointer;
}

.lost button:hover {
    background: #a52f31;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.captured button {
    width: 8rem;
    height: 2rem;
    flex-shrink: 0;
    color: #f2f2f2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-color: transparent;
    border-radius: 5px;
    background: #5AB4AB;
    cursor: pointer;
}

.captured button:hover {
    background: #4b968e;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.in-prospecting button {
    width: 8rem;
    height: 2rem;
    flex-shrink: 0;
    color: #f2f2f2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-color: transparent;
    border-radius: 5px;
    background: #ECC004;
    cursor: pointer;
}

.in-prospecting button:hover {
    background: #d4ae04;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.in-research button {
    width: 8rem;
    height: 2rem;
    flex-shrink: 0;
    color: #f2f2f2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-color: transparent;
    border-radius: 5px;
    background: #4D4D4D;
    cursor: pointer;
}

.in-research button:hover {
    background: #363636;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.supported button {
    width: 8rem;
    height: 2rem;
    flex-shrink: 0;
    color: #f2f2f2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-color: transparent;
    border-radius: 5px;
    background: #18234e;
    cursor: pointer;
}

.supported button:hover {
    background: #0b0f24;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.funnel-id {
    align-items: center;

}

.funnel-id a{
    text-decoration: none;
    color: #0D132B;
    font-weight: 700;
}

#advance-page {
    text-align: center;
}

#advance-page a{
    margin: 10px;
    text-decoration:none;
    color: #F2F2F2;
    font-weight: 400;
}

.principal-button {
    font-size: 18px;
}

.sub-button {
    font-size: 14px;
}
.delete-icon-directory {
    text-align: right;
    margin: 0 20px;
}

.delete-icon-directory img {
    margin: 0 5px;
}