@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


html {
    height: 100%;
}
body {
    min-height: 100vh;
    
}

/* cabeçario --------> */
header {
    width: 100%;
    height: 70px;
    background: #606060;
}

/* cabeçario <--------*/

button{
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

/* Rodape ------> */
footer {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape-container {
    width: 787px;
    height: 30px;
    
}

.rodape {
    color: #595959;
    display: flex;
    justify-content: center;
    border-top: solid 1px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rodape span {
    color: #595959;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Rodape <------ */

/* Modal  -------> */

#pop-adiciona.hider, #modal2.hider{
    display: none;
}

#pop-adiciona{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;
}

#modal2 {
}

#modal.hider, #pop-edita{
    display: none;
}



#pop-edita {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;
}


#modal-proxima {
    width: 669px;
    max-width: 80%;
    height: 550px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #5B827E;
    background: #FFF;
    position: fixed;
    left: 56%;
    top: 54%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 0 31px;
    padding-top: 31px;
}

.modal-header h2{
    color: #0D132B;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.modal-header button{
    display: flex;
    justify-content: center;
    border: none;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    border-radius: 50%;
    color: #FFF;
    background: #606060;
}

.modal-body button{
    border: none;
    width: 158px;
    height: 47px;
    flex-shrink: 0;
    margin: 0 31px;
    border-radius: 5px;
    background: #FBC600;
    box-shadow: 0px 4px 4px 0px rgba(32, 32, 32, 0.25);
}

.modal-body input{
    width: 291.84px;
    max-width: 80%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #FAFAFA80;
    border: none;
}

.modal-body input::-webkit-input-placeholder  { 
    color: #878787;
    font-size: 14px;
 }

 #observação::-webkit-input-placeholder  {
    position: absolute;
    top: 0;
 }

.modal-container {
    display: flex;
    justify-content: space-between;
    padding: 12px 31px;
}

.modal-itens {
    display: flex;
    flex-direction: column;
}

.input-relative {
    display: flex;
    flex-direction: column;
    position: relative;
}


.input-absolute {
    width: 291.84px;
    height: 45px;
    padding: 0 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    text-align: center;
    color: rgba(32, 32, 32, 0.60);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}

#observação {
    width: 608px;
    height: 102px;
    flex-shrink: 0;
}

.modal-body label {
    color: #0D132B;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* Modal  <------- */




/* Section  --------> */
#evento-historicos {
    min-height: calc(100vh - 70px);
    height: 100%;
    width: 100%;
    background: #f2f2f2;
}
/* Section  <------- */

#toda-pagina {
    display: flex;
    min-height: calc(100vh - 70px);
    height: 100%;
    width: 100%;
}

/* Barra Lateral ------> */
#nav-index {
    min-height: 100%;
    width: 107px;
    background: #606060;
}
/* Barra lateral  <------ */

.conteudo {
    display: flex;
    flex-direction: column;
    width: calc(100% - 107px);
    height: calc(100% - 70px);
}

#evento-historicos-container {
    min-height: calc(100vh - 130px);
    height: 100%;
    background: #f2f2f2;   
}

.info-container {
    margin: 0 23px;
    margin-top: 30px;
}

.nav-funil {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration:none;
    color: #0D132B;
}

.info-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px;
}

.pesquisa-filtro {
    display: flex;
}

.info-container2 .filtro-container {
    text-align: start;
    justify-content: flex-start;
}

.filtro-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    margin: 0 20px;
}

.info-container2 button{
    width: 146px;
    height: 47px;
    flex-shrink: 0;
    border: none;
    color: #0D132B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 3px;
    background: #FBC600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.info-container2 button span{
    font-size: 20px;
}

.input-pesquisa-con {
    position: relative;
}

input {
    width: 50px;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid  #A6B9B7;
    background: #FAFAFA;
    
}

.input-pesquisa {
    width: 416px;
    height: 48px;
}

.lupa {
    width: 21.894px;
    height: 20.86px;
    text-align: right;
}

.info-container3 {
    display: flex;
    justify-content: space-between;
    margin: 0 23px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.resultado {
    opacity: 0.65;
    align-items: center;
}

.btn-aplica{
    width: 103px;
    height: 22px;
    flex-shrink: 0;
    border: none;
    border-radius: 3px;
    background: #606060;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #F2F2F2;
    margin: 0 20px;


}

.pagina {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1px;
}


.tabela-hitoricos {
    background: #f2f2f2;
}

.tabela{
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background: #f2f2f2;
}

table {
    text-align: left;
    border-collapse: collapse;
}

th {
    width: 1273px;
    height: 54px;
    background: #606060;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #F2F2F2;
    text-align: left;
    padding: 17px 17px;
}

tr {
    border: 1px solid #DADADA;
    background: #F8F8F8;
}

tr:hover{
    background: #FFF;
    color: #606060;
}

td {
    padding: 15px
}

#avança-foot {
    text-align: center;

}

#avança-foot a{
    text-decoration:none;
    color: #F2F2F2;
    margin: 10px;
    color: #F2F2F2;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#avança-foot span{
    color: #F2F2F2;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.check-td {
    text-align: right;
    margin: 0 20px;
}

.check-td img {
    height: 16px;
    width: 16px;
    margin: 0 5px;
}

@media only screen and (max-width: 1160px)  {
    .info-container2 {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
}