@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

header {
    width: 100%;
    height: 70px;
    background: #606060;
}



/* Rodape */
footer {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape-container {
    width: 787px;
    height: 30px;
    
}

.rodape {
    color: #595959;
    display: flex;
    justify-content: center;
    border-top: solid 1px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rodape span {
    color: #595959;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* rodape <----- */

/* Modal  -------> */

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.6);
    z-index: 9;
}

#pop-adiciona {
    width: 669px;
    max-width: 80%;
    height: 365px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #5B827E;
    background: rgba(250, 250, 250, 0.90);
    position: fixed;
    left: 56%;
    top: 54%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 28px 31px;
    padding-top: 31px;
}

.modal-header h2{
    color: #0D132B;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.modal-header button{
    display: flex;
    justify-content: center;
    border: none;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    border-radius: 50%;
    color: #FFF;
    background: #606060;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body button{
    border: none;
    width: 158px;
    height: 47px;
    flex-shrink: 0;
    margin: 0 31px;
    border-radius: 5px;
    background: #FBC600;
    box-shadow: 0px 4px 4px 0px rgba(32, 32, 32, 0.25);
}

.modal-ediçao {
    display: flex;
    justify-content: space-between;
    padding: 0 31px;
}

.input-ediçao {
    position: relative;
}
.input-ediçao p{
    display: flex;
    width: 211.576px;
    height: 45px;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    justify-content: space-between;
    opacity: 0.65;
    color: #20202099;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    padding: 0 15px;
}

.input-ano {
    display: flex;
    position: relative;
}

.input-ano div{
    display: flex;
    width: 280px;
    height: 45px;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    justify-content: space-between;
    color: #20202099;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    padding: 0 15px;
}


.modal-ediçao div{
    display: flex;
    flex-direction: column;
}

.modal-body label {
    color: #0D132B;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.modal-body input{
    width: 286px;
    max-width: 80%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #F2F2F2;
}

.modal-ano{
    display: flex;
    flex-direction: column;
    padding: 31px;
}

#pop-edita {
    display: none;
}

/* Modal  <------- */




/* Section  --------> */
#evento-historicos {
    min-height: calc(100vh - 70px);
    height: 100%;
    width: 100%;
    background: #f2f2f2;
}
/* Section  <------- */

#toda-pagina {
    display: flex;
    min-height: calc(100vh - 70px);
    height: 100%;
    width: 100%;
}

/* Barra Lateral ------> */
#nav-index {
    min-height: 100%;
    width: 107px;
    background: #606060;
}
/* Barra lateral  <------ */

.conteudo {
    display: flex;
    flex-direction: column;
    width: calc(100% - 107px);
    height: calc(100% - 70px);
}

#evento-historicos-container {
    min-height: calc(100vh - 130px);
    height: 100%;
    background: #f2f2f2;
}


.info-container {
    margin: 0 23px;
    margin-top: 30px;
}

.nav-funil {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration:none;
    color: #0D132B;
}

.info-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px;
}

.info-container2 button{
    width: 146px;
    height: 47px;
    flex-shrink: 0;
    border: none;
    color: #0D132B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 3px;
    background: #FBC600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.info-container2 button span{
    font-size: 20px;
}

.input-pesquisa-con {
    width: 416px;
    position: relative;
}

input {
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid  #A6B9B7;
    background: #FAFAFA;
    
}

.label-pesquisa {
    display: flex;
    width: 416px;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    padding: 0px 15px;
    opacity: 0.65;
}

.input-pesquisa {
    width: 416px;
    height: 48px;
}

.lupa {
    width: 21.894px;
    height: 20.86px;
    text-align: right;
}

.info-container3 {
    margin: 0 23px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pagina {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1px;
}


.tabela{
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background: #f2f2f2;
    
}

table {
    text-align: left;
    border-collapse: collapse;
}

th {
    width: 1273px;
    background: #606060;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #F2F2F2;
    text-align: left;
    padding: 17px 17px;
}

tr {
    border: 1px solid #DADADA;
    background: #F8F8F8;

}

tr:hover{
    background: #FFF;
    color: #07D0A1;
}

td {
    padding: 15px
}

#avança-foot {
    text-align: center;
}

#avança-foot a{

    text-decoration:none;
    color: #F2F2F2;
    margin: 10px;
    color: #F2F2F2;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#avança-foot span{
    color: #F2F2F2;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.check-td {
    text-align: right;
    margin: 0 20px;
}

.check-td img {
    margin: 0 5px;

}

@media only screen and (max-width: 714px)  {
    .info-container2 {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
    .info-container2 button{
        margin-top: 20px;
    }
}